In [ ]:
%pip install pandas

In [1]:
import pandas as pd

In [2]:
url = "https://koumoul.com/s/data-fair/api/v1/datasets/igt-pouvoir-de-rechauffement-global/convert"

In [4]:
emissions = pd.read_csv(url)

emissions

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
...,...,...,...,...,...,...,...,...,...,...,...,...
35793,95676,VILLERS-EN-ARTHIES,1628.065094,NaN,NaN,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,NaN,NaN,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,NaN,NaN,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,NaN,NaN,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,NaN,NaN,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

Utiliser les méthodes adéquates afin d’afficher pour les 10 premières valeurs, les 15 dernières et un échantillon aléatoire de 10 valeurs grâce aux méthodes adéquates du package Pandas.
Tirer 5 pourcents de l’échantillon sans remise.
Ne conserver que les 10 premières lignes et tirer aléatoirement dans celles-ci pour obtenir un DataFrame de 100 données.
Faire 100 tirages à partir des 6 premières lignes avec une probabilité de 1/2 pour la première observation et une probabilité uniforme pour les autres.

In [20]:
emissions.sample(frac = 0.05)

emissions.head(10).sample(n=100, replace=True)

emissions.head(6).sample(n = 100, replace = True, weights=[0.5] + [0.1]*5)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
...,...,...,...,...,...,...,...,...,...,...,...,...
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934

In [19]:
emissions.sample(1, random_state=42)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
9676,27068,BOIS-ANZERAY,3254.469448,NaN,NaN,155.780361,23.010304,2.354558,6.911213,80.427086,279.994728,83.265051

In [ ]:
emissions[emissions['Co]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
import skrub as sk

sk.describe(emissions)

AttributeError: module 'skrub' has no attribute 'describe'

In [28]:
%pip install skrub

Collecting skrub
  Downloading skrub-0.6.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: numpy>=1.23.5 in /opt/python/lib/python3.13/site-packages (from skrub) (2.3.3)
Requirement already satisfied: pandas>=1.5.3 in /opt/python/lib/python3.13/site-packages (from skrub) (2.3.2)
Requirement already satisfied: scikit-learn>=1.2.1 in /opt/python/lib/python3.13/site-packages (from skrub) (1.7.2)
Requirement already satisfied: scipy>=1.9.3 in /opt/python/lib/python3.13/site-packages (from skrub) (1.16.2)
Requirement already satisfied: jinja2>=3.1.2 in /opt/python/lib/python3.13/site-packages (from skrub) (3.1.6)
Requirement already satisfied: matplotlib>=3.4.3 in /opt/python/lib/python3.13/site-packages (from skrub) (3.10.6)
Requirement already satisfied: requests>=2.25.0 in /opt/python/lib/python3.13/site-packages (from skrub) (2.32.5)
Collecting pydot (from skrub)
  Downloading pydot-4.0.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/python/lib/python3.13/site-packages (from jinja2>=3.1.2->skrub) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (4.60.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (25.0)
Requirement already satisfied: pillow>=8 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/python/lib/python3.13/site-packages (from matplotlib>=3.4.3->skrub) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/python/lib/python3.13/site-packages (from pandas>=1.5.3->skrub) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/python/lib/python3.13/site-packages (from pandas>=1.5.3->skrub) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/python/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib>=3.4.3->skrub) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/python/lib/python3.13/site-packages (from requests>=2.25.0->skrub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/python/lib/python3.13/site-packages (from requests>=2.25.0->skrub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/python/lib/python3.13/site-packages (from requests>=2.25.0->skrub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/python/lib/python3.13/site-packages (from requests>=2.25.0->skrub) (2025.8.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/python/lib/python3.13/site-packages (from scikit-learn>=1.2.1->skrub) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/python/lib/python3.13/site-packages (from scikit-learn>=1.2.1->skrub) (3.6.0)
Downloading skrub-0.6.2-py3-none-any.whl (478 kB)
Downloading pydot-4.0.1-py3-none-any.whl (37 kB)
Installing collected packages: pydot, skrub
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [skrub]32m1/2 [skrub]
Successfully installed pydot-4.0.1 skrub-0.6.2
Note: you may need to restart the kernel to use updated packages.